.hidden.js-cluster-error.bs-callout.bs-callout-danger{ role: 'alert' }
  = s_('ClusterIntegration|Something went wrong while creating your Kubernetes cluster on Google Kubernetes Engine')
  %p.js-error-reason

.hidden.js-cluster-creating.bs-callout.bs-callout-info{ role: 'alert' }
  = s_('ClusterIntegration|Kubernetes cluster is being created on Google Kubernetes Engine...')

.hidden.js-cluster-success.bs-callout.bs-callout-success{ role: 'alert' }
  = s_("ClusterIntegration|Kubernetes cluster was successfully created on Google Kubernetes Engine. Refresh the page to see Kubernetes cluster's details")

- if show_cluster_security_warning?
  .js-cluster-security-warning.alert.alert-block.alert-dismissable.bs-callout.bs-callout-warning{ data: { feature_id: UserCalloutsHelper::CLUSTER_SECURITY_WARNING, dismiss_endpoint: user_callouts_path } }
    %button.close.js-close{ type: "button" }  &times;
    = s_("ClusterIntegration|The default cluster configuration grants access to many functionalities needed to successfully build and deploy a containerised application.")
    = link_to s_("More information"),  help_page_path('user/project/clusters/index.md', anchor: 'security-implications')
